<div class="container">
  <div class="row">
    <%= link_to "Go Back To Homepage", root_path, class: "btn btn-success", style: "margin-top: 20px; margin-bottom: 15px;" %>
    <%= link_to "Go Back To Edit page", edit_path, class: "btn btn-warning", style: "margin-top: 20px; margin-bottom: 15px;" %>
    <div class="model col-lg-12">
      <h1 class="text-center">Information Data</h1>
      <h1 class="text-center"><%= link_to "Edit", information_edit_path, class: "btn btn-primary btn-lg" %></h1><br>
      <p><b>Name:</b> <%= @information.name %></p><br>
      <p><b>About Me:</b> <%= @information.about %></p><br>
      <p><b>Services Description:</b> <%= @information.services_description %></p><br>
      <p><b>Photography Description:</b> <%= @information.photography_description %></p><br>
      <p><b>Email:</b> <%= @information.email %></p><br>
      <p><b>Phine #:</b> <%= @information.phone %></p><br>
      <p><b>Contact Description:</b> <%= @information.contact_description %></p><br>
      <p><b>Current Header Image:</b><%= image_tag(@information.header_image? ? @information.header_image.url : asset_path('tiger.jpg')) %></p><br>
    </div>
  </div>
</div>