<% content_for :head do %>
  <!-- Javascript -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<% end %>

<div class="container">
  <div class="row text-center">
    <div class="col-lg-6 col-lg-offset-3">
      <h1><u><%= title %></u></h1>
      <span><span class="required">* </span>fields are required</span><br><br>

      <%= form_for(@album) do |f| %> 
        <% if @album.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-danger">
              The form contains <%= pluralize(@album.errors.count, "error") %>.
              <ul id="errors">
              <% @album.errors.full_messages.each do |msg| %>
                <li class="required"><%= msg %></li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <label>Name<span class="required">*</span></label><br>
        <%= f.text_field :name, required: true, class: "form-control" %><br>

        <label>Description</label><br>
        <%= f.text_area :description, style: "resize: none;", rows: "5", class: "form-control" %><br>

        <label>Order (<b> Must be a number greater than 0</b>)</label><br>
        <span>Note: If order field left blank, this album will be added to the end of the order</span><br>
        <%= f.text_field :order_listed, class: "form-control" %><br><br>

        <div class="col-lg-6">
          <%= f.submit button, class: "btn btn-success btn-lg", style: "margin-bottom: 30px;" %>
        </div>

        <% if button == "Create" %>
          <div class="col-lg-6">
            <a href="/photos" class="btn btn-danger btn-lg">Cancel</a>
          </div>
        <% elsif button == "Update" %>
          <div class="col-lg-6">
            <%= link_to "Delete", @album, method: :delete, data: { confirm: "Deleting this album will delete the photos in it. Are you sure you want to delete this album? " }, class: "btn btn-danger btn-lg" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>