<% content_for :head do %>
  <!-- Javascript -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<% end %>

<div class="container">
  <div class="row text-center">
    <div class="col-lg-6 col-lg-offset-3">
      <h1><u><%= title %></u></h1>
      <span><span class="required">* </span>fields are required</span><br><br>

      <%= form_for(@photo) do |f| %> 
        <% if @photo.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-danger">
              The form contains <%= pluralize(@photo.errors.count, "error") %>.
              <ul id="errors">
              <% @photo.errors.full_messages.each do |msg| %>
                <li class="required"><%= msg %></li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <label>Title<span class="required">*</span></label><br>
        <%= f.text_field :title, required: true, class: "form-control" %><br>

        <label>Description</label><br>
        <%= f.text_area :description, style: "resize: none;", rows: "5", class: "form-control" %><br>

        <label>Album <br>(Must select an album from dropdown menu)</label><br>
        <%= select_tag :album_id, options_for_select(Album.all.map{ |a| [a.name, a.id] }, @photo.album_id ), class: "form-control" %><br>

        <%= f.label :image %>
        <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: "form-control" %><br>
      <% if @photo.image? %>
        <p><b>Current Image:</b><%= image_tag(@photo.image.url) %></p><br>
      <% end %>

        <label>Order (<b> Must be a number greater than 0</b>)</label><br>
        <span>Note: If order field left blank, this photo will be added to the end of the order</span><br>
        <%= f.text_field :order_listed, class: "form-control" %><br><br>

        <div class="col-lg-6">
          <%= f.submit button, class: "btn btn-success btn-lg", style: "margin-bottom: 30px;" %>
        </div>

        <% if button == "Create" %>
          <div class="col-lg-6">
            <%= link_to "Cancel", album_path(@photo.album_id, edit: true), class: "btn btn-danger btn-lg" %>
          </div>
        <% elsif button == "Update" %>
          <div class="col-lg-6">
            <%= link_to "Delete", @photo, method: :delete, data: { confirm: "Are you sure you want to delete this photo?" }, class: "btn btn-danger btn-lg" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
